@page "/animaloverview"
@using AnimalShelter.Shared



<h3>Animals</h3>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">


    @foreach (var animal in AnimalsInShelter)
    {
        <div class="col mb-4">
            <AnimalCard CurrentAnimal="animal" OnAnimalAdopted="AdoptAnimal" />
        </div>
    }
</div>

<button class="btn btn-primary">Add Animal</button>


@code {

    private List<Animal> AnimalsInShelter { get; set; } = new List<Animal>();

    [Inject] 
    private IJSRuntime JsRuntime { get; set; }

    protected override void OnInitialized()
    {
        AnimalsInShelter = new List<Animal>()
    {
            new Animal
            {
                Id = 1,
                Name = "Max",
                AnimalKind = AnimalKind.Dog,
                EstimatedAge = 1,
                PictureUrl = "https://cdn.pixabay.com/photo/2017/06/24/09/13/dog-2437110__340.jpg",
                Gender = Gender.Male
            },
            new Animal
            {
                Id = 2,
                Name = "Kitty",
                AnimalKind = AnimalKind.Cat,
                DateOfBirth = new DateTime(2018, 01, 30),
                PictureUrl = "https://cdn.pixabay.com/photo/2014/04/13/20/49/cat-323262__340.jpg",
                Gender = Gender.Female
            },
            new Animal
            {
                Id = 3,
                Name = "Lucy",
                AnimalKind = AnimalKind.Dog,
                EstimatedAge = 2,
                PictureUrl = "https://cdn.pixabay.com/photo/2018/03/18/18/06/australian-shepherd-3237735__340.jpg",
                Gender = Gender.Female
            },
            new Animal
            {
                Id = 4,
                Name = "Charlie",
                AnimalKind = AnimalKind.Dog,
                EstimatedAge = 3,
                PictureUrl = "https://cdn.pixabay.com/photo/2017/10/02/21/56/dog-2810484__340.jpg",
                Gender = Gender.Male
            },
            new Animal
            {
                Id = 5,
                Name = "Simba",
                AnimalKind = AnimalKind.Cat,
                EstimatedAge = 1,
                PictureUrl = "https://cdn.pixabay.com/photo/2017/11/09/21/41/cat-2934720__340.jpg",
                Gender = Gender.Female
            },
            new Animal
            {
                Id = 6,
                Name = "Sammy",
                AnimalKind = AnimalKind.Cat,
                EstimatedAge = 6,
                PictureUrl = "https://cdn.pixabay.com/photo/2017/03/14/14/49/cat-2143332__340.jpg",
                Gender = Gender.Male
            }
        };
    }

    private async Task AdoptAnimal(Animal animalToAdopt)
    {
        var confirmed = await JsRuntime.InvokeAsync<bool>("animalshelterjavascriptfunctions.confirm", $"Are you sure you want {animalToAdopt.Name} to be adopted?");

        if (confirmed)
        {
            // Delete the animal
            AnimalsInShelter.Remove(animalToAdopt);
        }

    }

}
